.site-footer {
  @include span-columns(12);
  @include omega();
  border-top: 1px solid $light-gray;
  color: $medium-gray;
  font-size: 15px;
  padding-top: $gutter;
  padding-bottom: $gutter;
  background: white;

  div {
    overflow: hidden;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $gutter / 2;
}

.footer-details-site {
  width: 100%;
  text-align: center;
}

.footer-details-social {
  width: 100%;
  text-align: center;
}

.footer-details-description {
  @include span-columns(4 of 12);
  @include media($small) {
    @include span-columns(4)
  }
}

.social-media-list {
  display: inline-block;

  li {
    display: inline;

    a {
      display: inline-block;

      span {
        svg {
          fill: #828282;
          transition: 1s ease;
        }
      }

      &:hover {
        span {
          svg{
            fill: $blue;
            transition: 1s ease;
          }
        }
      }
    }
  }
}
