
<div class="box" >
   <div class="box-media">
     <img src="{{ site.baseurl }}/assets/dist/images/dudu.jpg" alt="Dudu Nato">
   </div>

   <div class="box-desc">
     <h5>Dudu Nato</h5>
     <p>
        Hi, I’m Dudu. A Dad, a philosopher wannabe and a missionary working in some sweet projects with the <a target="blank" href="http://uofn.edu">University of the Nations</a> and <a target="blank" href="http://ywamlausanne.com">YWAM Lausanne</a>. About my professional experience: I've graduated in Information Systems and I have about 6,5 years of professional experience working in areas as Stock Market platforms, Web Systems, Web Services, Machine Learning and Big Data. Along my carreer I've coded in Java, Python, Ruby &lt;3 and Javascript &lt;3. So nowadays I'm engaged full time using my skills to develop useful tools to help the missionaries arround the world.
     </p>
   </div>
 </div>


<div class="box" >
 <div class="box-media">
   <img src="{{ site.baseurl }}/assets/dist/images/alissa.jpg" alt="Alissa">
 </div>

 <div class="box-desc">
   <h5>Alissa</h5>
   <p>
     Hello, my name’s Alissa. My first job is to be a good wife and the mom of an adorable little girl called Liz. I’ve majored in Psychology and my greatest passions are worship, people and chocolate. I dedicate every day of my life to making Jesus Lord and making people happy! Nowadays, I’m part of the staff team at Ywam Lausanne, where we work together to train young people and prepare them to serve and love the nations.
   </p>
 </div>
</div>


<div class="box" >
 <div class="box-media">
   <img src="{{ site.baseurl }}/assets/dist/images/liz.JPG" alt="Dudu Nato">
 </div>

 <div class="box-desc">
   <h5>Liz <3</h5>
   <p>I'm Liz and I'm just baby missionary taking joy to wherever I go!</p>
 </div>
</div>

