
<div class="box" >
   <div class="box-media">
     <img src="{{ site.baseurl }}/assets/dist/images/dudu.jpg" alt="Dudu Nato">
   </div>

   <div class="box-desc">
     <h5>Dudu Nato</h5>
     <p>
       Oi, eu sou o Dudu. Pai, metido a filósofo e missionário trabalhando em projetos de tecnologia da <a target="blank" href="http://uofn.edu">Universidade das Nações</a> e <a target="blank" href="http://ywamlausanne.com">JOCUM Lausanne</a>. Sobre minha experiência profissional: me graduei em Sistemas de Informação e tenho 6,5 anos de experiência profissional em áreas como: plataformas para Bolsa de Valores, Sistemas Web, Web Services, Aprendizado de Máquina e Big Data. Ao longo da minha carreira profissional eu escrevi códigos em Java, Python, Ruby &lt;3 e Javascript &lt;3. Hoje em dia estou comprometido em tempo integral usando minhas habilidades para desenvolver ferramentas para ajudar missionários ao redor do mundo.
     </p>
   </div>
 </div>


<div class="box" >
 <div class="box-media">
   <img src="{{ site.baseurl }}/assets/dist/images/alissa.jpg" alt="Alissa">
 </div>

 <div class="box-desc">
   <h5>Alissa</h5>
   <p>
    Olá meu nome é Alissa. Meu primeiro trabalho é ser uma boa esposa e a mãe de uma linda garotinha chamada Liz. Me graduei em psicologia e as minhas maiores paixões são adoração, pessoas e chocolate. Eu me esforço cada dia da minha vida para fazer Jesus o Senhor e fazer pessoas felizes. Hoje em dia, sou staff em <a target="blank" href="http://ywamlausanne.com">JOCUM Lausanne</a>, onde trabalhamos juntos treinando jovens e preparando-os para servir e amar as nações.
   </p>
 </div>
</div>


<div class="box" >
 <div class="box-media">
   <img src="{{ site.baseurl }}/assets/dist/images/liz.JPG" alt="Dudu Nato">
 </div>

 <div class="box-desc">
   <h5>Liz <3</h5>
   <p>Meu nome é Liz e sou um bebê levando alegria por onde quer que eu vá!</p>
 </div>
</div>

