.post-content {
  margin-bottom: $gutter;
  line-height: 1.6;
  letter-spacing: .01rem;

  p {
    margin: 0;
    padding-top: 10px;

    img {
      margin: 0 auto;
      display: block;
    }
  }

}

.post-comments {
  width: 700px;
  margin: 0 auto;
  padding: 5px;

  @include media($small) {
    @include span-columns(4);
  }
}

.topbar {
  display: none !important;
}
