.post-content {
  margin-bottom: $gutter;
  line-height: 1.6;
  letter-spacing: .01rem;

  p {
    margin: 0;
    padding-top: 10px;

    img {
      margin: 0 auto;
      display: block;
    }
  }

}

.post-comments {
  width: 1000px;
  margin: 0 auto;
  padding: 5px;

  @include media($small) {
    @include span-columns(4);
  }
}

.topbar {
  display: none !important;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
