---
layout: default
---
<div class="post">
  <header class="post-header">
    <h3 class="post-title">{{ page.title }}</h3>
    <span class="post-meta">{{ page.date | date: "%-d/%-m/%y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
  </header>
  <article class="post-content">
    {{ content }}

    <div class="nav-arrows">
      {% if page.previous %}
      <div class="nav-left">
        <a href="{% t global.lang_path %}{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
      </div>
      {% endif %}
      {% if page.next %}
      <div class="nav-right">
        <a href="{% t global.lang_path %}{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
      </div>
      {% endif %}
    </div>
  </article>
</div>

<div class="post-comments">
  <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'natofamily';
    var disqus_config = function () { 
      this.language = {% if lang == 'en'%}'en_US'{%else%}'pt_BR'{%endif%};
    };

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

</div>
